/* Hollow Knight palette */
/* #0f0f1b black */
/* #1a1a1a black (darker) */
/* #565a75 grey */
/* #fafbf6 white */
/* #fff white (generic) */

.hollow-login {
  background-color: #1a1a1a;
  color: #fafbf6;
  height: 50vh;
  width: 50vw;
}

.hollow-login form {
    width: 100%;
    height: 100%;
}
.hollow-login h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hollow-login ul {
  list-style: none;
  margin: 20px;
  padding: 0;
  color: #ff0000;
}

.hollow-login label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.hollow-login input {
  padding: 8px;
  font-size: 14px;
  border: 2px solid #fafbf6;
  background-color: #565a75;
  color: #fafbf6;
  border-radius: 5px;
}

.hollow-login input:focus {
  outline: none;
  border-color: #ffa500;
}

.hollow-login button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  color: #fafbf6;
  background-color: #565a75;
  cursor: pointer;
  border-radius: 5px;
  width: 30%;
  font-weight: 700;
}

.hollow-login button:hover {
  background-color: #ffa500;
  color: #1a1a1a;
  font-weight: 700;
  border-radius: 5px;
}

.hollow-login .form-elements {
    width: 90%;
    height: auto;
    margin-bottom: 1%;
}
