/* Hollow Knight palette */
/* #0f0f1b black */
/* #1a1a1a black (darker) */
/* #565a75 grey */
/* #fafbf6 white */
/* #fff white (generic) */
/* #FFA500; orange */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cinzel", serif;
}

h2 {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  color: #fafbf6;
  height: 100%;
  box-shadow: 1px solid #565a75;
  height: 4vh;
  padding-top: 10px;
}

li {
  list-style-type: none;
}

a {
  color: #565a75;
  text-decoration: none;
}

.active {
  font-weight: bold;
  color: #fafbf6;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 25vh;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
  width: 100vw;
  background-color: #1a1a1a;
}

.grid-main-item {
  background-color: #1a1a1a;
  /* background-color: #565a75; */
  color: #fafbf6;
  /* border: 1px solid #5d6073; */
}

.bg {
  height: 100vh;
  width: 100vw;
}