/* Hollow Knight palette */
/* #0f0f1b black */
/* #1a1a1a black (darker) */
/* #565a75 grey */
/* #fafbf6 white */
/* #fff white (generic) */
/* #FFA500; orange */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #1a1a1a;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Cinzel", serif;
}

h2 {
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
  color: #fafbf6;
  height: 100%;
  box-shadow: 1px solid #565a75;
  height: 4vh;
  padding-top: 10px;
}

li {
  list-style-type: none;
}

a {
  color: #565a75;
  text-decoration: none;
}

button, input {
  background-color: #565a75;
  border-radius: 5px;
  color: #fafbf6;
  border: 1px solid #fafbf6;
  padding: 1%;
  cursor: pointer;
  margin-left: 1%;
  margin-right: 1%;
}

.active {
  font-weight: bold;
  color: #fafbf6;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 25vh;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fafbf6;
}


.grid-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 80vh;
  width: 100vw;
  background-color: #1a1a1a;
  padding: 20px;
}

.grid-main-item {
  background-color: #1a1a1a;
  color: #fafbf6;
  overflow-y: scroll;
  max-height: 50vh;
  max-width: 50vw;
}

.grid-main-item::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.grid-main-item::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

.grid-main-item::-webkit-scrollbar-thumb {
  background-color: #565a75;
}

.grid-main-item::-webkit-scrollbar-thumb:hover {
  background-color: #fafbf6;
}

.bg {
  height: 100vh;
  width: 100vw;
}

.length-100 {
  width: 100%
}