/* Hollow Knight palette */
/* #0f0f1b black */
/* #1a1a1a black (darker) */
/* #565a75 grey */
/* #fafbf6 white */
/* #fff white (generic) */
/* #FFA500; orange */

.clock {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  border-radius: 5px;
  max-width: 47.5vw;
}

.clock h1 {
  border: 2px solid #fafbf6;
  min-width: 50%;
  height: auto;
  border-radius: 15px;
  padding: 2%;
  display: block;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-sizing: border-box;
}

.clock-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  border: 2px solid #fafbf6;
  color: #fafbf6;
  border-radius: 5px;
  width: 80%;
}

.clock-buttons > button, input {
  margin: 1%;
  width: 100%;
}

.snooze-false {
    filter:brightness(50%)
}
