  
  /* Hollow Knight palette */
  /* #0f0f1b black */
  /* #1a1a1a black (darker) */
  /* #565a75 grey */
  /* #fafbf6 white */
  /* #fff white (generic) */
  /* #FFA500; orange */

.calendar-page {
    background-color: #000;
    border-radius: 5px;
    min-height: 37.5vh;
    height: auto;
  }
  
  .calendar-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #565a75;
    margin: 0;
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #000;
  }

  .calendar-day > button {
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 1%;
    background-color: #000;
    font-size: 100%;
  }

  .calendar-day > button:hover {
    color: #FFA500;
  }
  
  .calendar-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1%;
    font-weight: bold;
    text-align: center;
    background-color: #0f0f1b;
  }
  
  .calendar-day {
    padding: 10px;
    text-align: center;
  }
  
  .other-month {
    color: #fafbf6;
  }
  
  .day-number {
    font-weight: bold;
    cursor: pointer;
  }
  
  .day-number:hover {
    filter:brightness(50%)
  }


  .month-heading {
    font-size: 100%;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .calendar-arrow {
    cursor: pointer;
    font-size: 125%;
  }

  .calendar-arrow:hover {
    color: #000;
  }
