/* Hollow Knight palette */
/* #0f0f1b black */
/* #1a1a1a black (darker) */
/* #565a75 grey */
/* #fafbf6 white */
/* #fff white (generic) */

.profile-dropdown {
  position: absolute;
  right: 1rem;
  z-index: 10;
  margin-top: 0.5%;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 2%;
  height: 5vh;
  z-index: 10;
  overflow: hidden;
}

.nav-icon {
  position: relative;
  color: #fff;
  cursor: pointer;
}

.nav-icon:hover {
  filter:brightness(50%)
}

.nav-links {
  display: flex;
  flex-direction: column;
  background-color: #000;
  position: absolute;
  margin-top: 2%;
  border-radius: 5px;
  border: 1px solid #fafbf6;
  padding: 1%;
}

.nav-links > div {
  background-color: #000;
  margin: 1%;
}

#nav-display-text {
  color: #fafbf6;
}

.user-profile-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.user-info {
  color: #fafbf6;
  background-color: #000;
  border: 1px solid #fafbf6;
  padding: 5px;
  border-radius: 5px;
}
