/* Hollow Knight palette */
/* #0f0f1b black */
/* #1a1a1a black (darker) */
/* #565a75 grey */
/* #fafbf6 white */
/* #fff white (generic) */

.profile-dropdown {
  position: absolute;
  right: 1rem;
  z-index: 10;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: 3vh;
}


.user-profile-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.user-info {
  color: #fafbf6;
  background-color: #000;
  border: 1px solid #fafbf6;
  padding: 5px;
  border-radius: 5px;
}
