.reminder-item {
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  border-bottom: 1px solid #565a75;
}

.reminder-info {
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 1%;
}
.no-reminders {
  font-style: italic;
  color: #bbb;
}

.reminders-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.reminders-title {
  font-size: 20px;
  margin-bottom: 1%;
  display: flex;
  color: #fff;
  justify-content: center;
  background-color: #565a75;
}

.reminder-button-container > * {
  padding: 5%;
  cursor: pointer;
}

.reminder-button-container > *:hover {
  color: #ffa500;
}

.reminders-heading {
  font-size: 20px;
  margin-bottom: 1%;
  display: flex;
  color: #fff;
  justify-content: center;
  background-color: #000;
}
