
.note-page {
    color: #fff;
    background-color: #000;
    width: 46vw;
    height: 100vh;
    border-radius: 5px;
}

.note-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 47vw;
}

.note-textarea{
  width: 42vw;
  max-width: 42vw;
  min-height: 18vh;
  height: 18vh;
  padding: 20px;
  font-size: 16px;
}

.svg-inline--fa.fa-pen {
    justify-self: center;
    align-self: center;
}

.note-buttons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}