/* Hollow Knight palette */
/* #0f0f1b black */
/* #1a1a1a black (darker) */
/* #565a75 grey */
/* #fafbf6 white */
/* #fff white (generic) */

.note-dropdown-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  max-width: 45vw;
  border-radius: 5px;
  background-color: #000;
  padding: 2%;
}

.note-dropdown-header {
  display: flex;
  align-items: center;
  width: 20vw;
  max-width: 20vw;
  justify-content: space-between;
  padding: 1%;
  background-color: #565a75;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #fff;
}

.note-dropdown-header:hover {
  filter: brightness(50%);
}

.dropdown-notes {
  position: absolute;
  top: 100%;
  left: 3%;
  width: 20vw;
  max-width: 20vw;
  padding: 0;
  list-style-type: none;
  background-color: #000;
  border: 1px solid #fafbf6;
  z-index: 3;
  border-radius: 5px;
}

.dropdown-notes li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-notes li:hover {
  background-color:#fafbf6;
  color: #000;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 5px;
}

.dropdown-notes li.selected {
  background-color: #565a75;
  border-radius: 5px;
}

.dropdown-notes li.selected:hover {
  background-color:#fafbf6;
  color: #000;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 5px;
}

.arrow.up {
  transform: rotate(180deg);
}

.note-content {
  background-color: #000;
  color: #fff;
  margin: 2%;
  padding: 2%;
  min-width: 42.5vw;
  min-height: 100vh;
  border-radius: 5px;
}